/* Metal ------------------------- */

.metal {
    /* position: relative; */
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    padding: 0.9rem 1rem;
    outline: none;
    border: none;

    text-align: center;
    color: #fff;

    box-shadow: inset rgb(133, 0, 0) 0 0px 0px 1px,
        /* border */
        inset rgba(68, 0, 0, 0.8) 0 -1px 5px 1px,
        /* soft SD */
        inset rgba(0, 0, 0, 0.25) 0 -1px 0px 1px,
        /* bottom SD */
        inset rgba(255, 255, 255, 0.6) 0 2px 1px 2px;
    /* top HL */


    transition: color .2s;
}



/* Radial ------------------------- */

.radial.metal {
    /* width: 160px; */
    /* height: 160px; */
    min-width: 30%;
    line-height: 50px;
    /* border-radius: 80px; */
    border-radius: 0.3rem;
    background-image: -webkit-radial-gradient(50% 0%, 8% 50%, hsla(0, 0%, 100%, .5) 0%, hsla(0, 0%, 100%, 0) 100%),
        -webkit-radial-gradient(50% 100%, 12% 50%, hsla(0, 0%, 100%, .6) 0%, hsla(0, 0%, 100%, 0) 100%),
        -webkit-radial-gradient(0% 50%, 50% 7%, hsla(0, 0%, 100%, .5) 0%, hsla(0, 0%, 100%, 0) 100%),
        -webkit-radial-gradient(100% 50%, 50% 5%, hsla(0, 0%, 100%, .5) 0%, hsla(0, 0%, 100%, 0) 100%),

        -webkit-repeating-radial-gradient(50% 50%, 100% 100%, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0) 3%, hsla(0, 0%, 0%, .1) 3.5%),
        -webkit-repeating-radial-gradient(50% 50%, 100% 100%, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 6%, hsla(0, 0%, 100%, .1) 7.5%),
        -webkit-repeating-radial-gradient(50% 50%, 100% 100%, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 1.2%, hsla(0, 0%, 100%, .2) 2.2%),

        -webkit-radial-gradient(50% 50%, 200% 50%, hsla(0, 0%, 90%, 1) 5%, hsla(0, 0%, 85%, 1) 30%, hsla(0, 0%, 60%, 1) 100%);
}







/* Linear ------------------------- */

.metal.linear {
    /* width: 100px; */
    min-width: 30%;
    font-size: calc(14px + 0.5vw);
    /* height: 80px; */
    border-radius: .5em;

    background-image: -webkit-repeating-linear-gradient(left, rgba(177, 35, 28, 0.12) 0%, rgba(177, 35, 28, 0.2) 6%, rgba(177, 35, 28, 0.3) 7.5%),
        -webkit-repeating-linear-gradient(left, rgba(177, 36, 28, 0.12) 0%, rgba(177, 36, 28, 0.2) 4%, rgba(177, 36, 28, 0.3) 4.5%),
        -webkit-repeating-linear-gradient(left, rgba(177, 36, 28, 0.12) 0%, rgba(177, 36, 28, 0.2) 1.2%, rgba(177, 36, 28, 0.3) 2.2%),
        linear-gradient(0deg, rgba(151, 30, 23, 0.795) 0%, rgba(133, 25, 20, 0.95) 47%, rgba(167, 23, 28, 0.747) 53%, rgba(228, 21, 28, 0.85) 100%);


}


/* Oval ------------------------- */

.metal.linear.oval {
    margin-top: 100px;
    width: 70px;
    height: 60px;
    line-height: 60px !important;
    border-radius: 50%;
    font: italic bold 3em/50px Georgia, "Times New Roman", Times, serif;
}




/* active ------------------------- */

.metal:active {
    color: rgba(255, 255, 255, 0.75);
    box-shadow:
        inset rgb(70, 0, 0) 0 0px 0px 1px,
        /* border */
        inset rgba(77, 0, 0, 0.603) 0 -1px 5px 2px,
        /* soft SD */
        inset rgba(102, 0, 0, 0.644) 0 -1px 0px 2px,
        /* bottom SD */
        inset rgba(255, 113, 113, 0.6) 0 2px 1px 2px;
    /* top HL */
}

.metal:hover {
    cursor: pointer;
}