content article {
    margin: 0 auto;
    padding: 0.5rem;
    max-width: 98vw;
}

content .lightgallery {
    text-align: center;
}

content .lightgallery img {
    display: inline-block;
    margin: 0.2rem;
    width: 150px;
}

/* Overriding CSS for lightgallery to make the image sit above the thumbnail strip. ALso change the z-index to make the backdrop sit above the navbar */
.lg-outer .lg-img-wrap {
    padding: 0 5px 100px;
}

.lg-backdrop {
    z-index: 1600;
}

.lg-outer {
    z-index: 1600;
}

/* Overriding lightgallery CSS to highlight active thumbnail or on hover, rest of the thumbnails should have darkgrey borders */

.lg-outer .lg-thumb-item {
    border: 2px solid #555555;
}

.lg-outer .lg-thumb-item.active,
.lg-outer .lg-thumb-item:hover {
    border-color: #fff;
}

/* Overriding lightgallery CSS to display subtitles sitting above thumbnail strip */
.lg-sub-html {
    bottom: 95vh;
    z-index: 1600;
}

.lg-sub-html p {
    color: #fff;
    font-family: 'Lato', sans-serif;
}


/* Desktop Media Query */
@media screen and (min-width: 769px) {
    content .lightgallery {
        text-align: center;
    }

    content .lightgallery img {
        display: inline-block;
        margin: 0.6rem;
        width: 250px;
    }
}